pkg
coverage
.bundle/
.librarian/
.tmp/
modules/
_site/
spec/fixtures/manifests
spec/fixtures/modules
yardoc/
.yardoc/

## Beaker
.vagrant
log

## Ruby
.rvmrc*
.rbenv*
.ruby-*
Gemfile.lock

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags
